<div class="align-items-center pt-8 surface-card p-4 shadow-2 border-round w-auto h-screen">
  <div class="text-center mb-5">
    <img width="9%"  src="https://i.gifer.com/origin/da/da1a08463998f75b818d4f97ab223c54_w200.gif" alt="Image" class="mb-3">
    <div class="text-900 text-3xl font-medium mb-3">Welcome Back</div>
    <span class="text-600 font-medium line-height-3">Don't have an account?</span>
    <a class="font-medium no-underline ml-2 text-blue-500 cursor-pointer" href="/register">Create today!</a>
  </div>
  <form class="signup-form d-flex flex-column justify-content-center align-items-center" [formGroup]="loginForm" (ngSubmit)="login()">
    <div class="p-fluid w-50 align-items-center">
      <label for="email" class="block text-900 font-medium mb-2">Username Or Email</label>
      <div>
        <input formControlName="userNameOrEmail" type="text" id="email" placeholder="Username Or Email address" pInputText class="w-full mb-3">
      </div>
    </div>

    <div class="p-fluid w-50 align-items-center">
      <label for="password" class="block text-900 font-medium mb-2">Password</label>
      <div>
        <p-password formControlName="password" type="password" id="password" placeholder="Your password"  [feedback]="false" [toggleMask]="true" />
      </div>
    </div>

    <button pButton pRipple label="Log In" icon="pi pi-user" class="w-50 mt-4" style="border-radius: 5px;" type="submit" [disabled]="loginForm.invalid"></button>
  </form>
</div>
